name: Deploy and Test on Kong
on:
  push:
    branches: 
      - main   
jobs:
  build-kong-config:
    runs-on: self-hosted
    name: Build Config
    steps:        
    - name: Checkout
      uses: actions/checkout@v2
    - name: Export OpenAPI Spec
      run: |
        /bin/sh -c 'inso export spec "Pizza Orders" > /tmp/spec.yaml'
    - name: Lint OpenAPI Spec
      run: |
        /bin/sh -c 'inso lint spec /tmp/spec.yaml'
    - name: Generate Kong declarative configuration from Spec
      run: |
        /bin/sh -c 'inso generate config /tmp/spec.yaml --type declarative > /tmp/kong.yaml'
  static-code-analysis:
    runs-on: self-hosted
    name: Static Code Analysis
    needs: build-kong-config
    steps:        
    - name: Validate Kong declarative configuration
      run: |
        /bin/sh -c 'pushd /tmp && deck validate'
  deck-diff:
    runs-on: self-hosted
    name: Diff Configuration
    needs: static-code-analysis
    steps:        
    - name: Diff declarative config
      run: |
        /bin/sh -c 'pushd /tmp && deck diff --kong-addr http://admin.kong.demo:8001 --headers Kong-Admin-Token:kong'
  deck-sync:
    runs-on: self-hosted
    name: Deploy to Kong
    needs: deck-diff
    environment: Production
    steps:        
    - name: Deploy declarative config
      run: |
        /bin/sh -c 'pushd /tmp && deck sync --kong-addr http://admin.kong.demo:8001 --headers Kong-Admin-Token:kong'
  inso-test:
    runs-on: self-hosted
    name: Integration Testing
    needs: deck-sync
    steps:        
    - name: Run Unit Tests
      run: |
        /bin/sh -c 'inso run test uts_616d31 -e env_env_3abee4'
  publish_to_portal:
    runs-on: self-hosted
    name: Publish to Portal
    needs: inso-test
    steps:
    - name: Transform Server URL
      run: |
        /bin/sh -c 'cd /tmp && yq -i '.servers[0].url = "api.hr.demo"' spec.yaml'
    - name: Publish Spec to Dev Portal
      run: |
        /bin/sh -c 'cd /tmp && http --check-status --ignore-stdin PUT http://admin.kong.demo:8001/default/files/specs/orders.yaml Kong-Admin-Token:kong contents=@spec.yaml'
