name: Deploy and Test on Kong
on:
  push:
    branches: 
      - main   
jobs:
  build-test:
    uses: ./.github/workflows/pull_request.yml
  deck-diff:
    runs-on: self-hosted
    name: Diff Configuration
    needs: build-test
    steps:        
    - name: Deploy declarative config
      run: |
        /bin/sh -c 'pushd /tmp && deck diff --kong-addr http://admin.kong.demo:8001 --headers Kong-Admin-Token:kong'
  deck-sync:
    runs-on: self-hosted
    name: Deploy to Kong
    needs: deck-diff
    environment: Production
    steps:        
    - name: Deploy declarative config
      run: |
        /bin/sh -c 'pushd /tmp && deck sync --kong-addr http://admin.kong.demo:8001 --headers Kong-Admin-Token:kong'
  inso-test:
    runs-on: self-hosted
    name: Integration Testing
    needs: deck-sync
    steps:        
    - name: Run Unit Tests
      run: |
        /bin/sh -c 'inso run test uts_616d31 -e env_env_3abee4'
  publish_to_portal:
    runs-on: self-hosted
    name: Publish to Portal
    needs: inso-test
    steps:            
    - name: Publish Spec to Dev Portal
      run: |
        /bin/sh -c 'pushd /tmp && http --check-status --ignore-stdin PUT http://admin.kong.demo:8001/default/files/specs/orders.yaml Kong-Admin-Token:kong contents=@spec.yaml'
